* {
  padding: 0;
  margin: 0;
  font-family: "Aboreto", sans-serif;
}
header {
  height: 150px;
  border: none;
  background-color: #e09ae0;
}

header h1 {
  border: none;
  display: inline-block;
  float: left;
  padding: 25px 100px;
  text-transform: uppercase;
  background-image: url("assets/back.webp");
}
header h1 a {
  transition: 0.3s;
}
header h1 a:hover {
  color: aquamarine;
}

header ul {
  border: 1px solid;
  float: right;
  background-color: #e09ae0;
  border: 1px solid;
}

header ul li {
  border: none;
  padding: 24px;
  display: inline-block;
}
header ul li a {
  transition: 0.3s;
}

header ul li a:hover {
  color: #709ddd;
}
a {
  text-decoration: none;
}
.container {
  width: 90%;
  margin: 0 auto;
  border: none;
}

.container::after {
  content: "";
  display: block;
  clear: both;
}

.banner {
  background-color: #e09ae0;
  padding: 100px;
}

section {
  padding: 50px;
  background-color: #709ddd;
  border: 1px solid;
}

.banner img {
  width: 100px;
  border-radius: 10px;
  box-shadow: 0 3px 5px #ddd;
  margin-bottom: 10px;
}
.banner h2,
.banner p {
  color: rgb(96, 116, 229);
  text-align: left;
}

.banner h2 {
  margin-bottom: 10px;
  font-family: "Rubik Maze", cursive;
  font-size: 75px;
  background-color: none;
}

.banner p {
  font-size: 50px;
}

.banner-left {
  border: 0px solid;
}

section h3 {
  padding-bottom: 20px;
  text-align: center;
  text-size-adjust: 20px;
  margin: 10px;
  background-color: #709ddd;
}

section h3::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  width: 400 px;
  height: 4px;
  left: calc(50% -60px);
}

#about h3,
p {
  text-align: center;
  text-indent: 40px;
  line-height: 25px;
  margin-bottom: 15px;
  font-size: 25px;
}

#profile h3,
p {
  text-align: center;
  text-indent: 40px;
  line-height: 25px;
  margin-bottom: 15px;
  font-size: 25px;
}

#subprofil {
  margin-right: 25%;
}

#image {
  margin-left: 20%;
}

#portofolio h3,
p {
  text-align: center;
  text-indent: 40px;
  line-height: 25px;
  margin-bottom: 15px;
  font-size: 20px;
}
#contact h3,
p {
  text-align: center;
  text-indent: 40px;
  line-height: 25px;
  margin-bottom: 15px;
  text-decoration-color: aquamarine;
  font-size: 20px;
  margin-right: 10%;
}

#phone {
  display: flex;
  align-items: center;
  justify-content: center;
}

.material-symbols-outlined {
  margin-bottom: 1%;
}
